html{
    background: url(https://wallpaperaccess.com/full/221443.jpg) top left/cover no-repeat;
} 
h1{
    font-size: 4rem;
    color:lightblue;
    font-family: 'Amatic SC', cursive;
}
h2{
    color:white;
}
h3{
    color: white;
}
a:link{
    color: peachpuff;
}
a:visited{
    color: lightpink;
}