body {
    background: rgb(0, 0, 0, .85);
    padding: 30px 30px;
    }
h1{
    font-size: 4rem;
    color:lightblue;
    font-family: 'Amatic SC', cursive;
}
h2{
    color:white;
}
h3{
    color: white;
}
a:link{
    color: peachpuff;
}
a:visited{
    color: lightpink;
}