<!DOCTYPE html>
<html lang="en">
    <head>
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}"> My Tasks</a> ||
            <a href="{{ url_for('new_task') }}"> Add Tasks</a>
            {% if user %}
                <nav>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </nav>
            {% else %}
                <nav>
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('register') }}">Register</a>
                </nav>
            {% endif %}
        </nav>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Tasks App">
        <title>UNCC Tasks App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        <h1>Welcome {{user}} to the 49er Tasks App!</h1>

        <h2>Use this site to maintain and organize your tasks.</h2>

        <h3>Course tasks</h3>

        <h3>To Do</h3>

        <h3>Work tasks</h3>

        <nav> <a href="/tasks"> My tasks </a> </nav>

    </body>
</html>